.Epoodkonteiner {
  max-width: 62%;
  margin-left: auto;
  margin-right: auto;
  padding: 0em;
}

.thumbnail p,
.thumbnail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail > img {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 15em;
}

.col {
  max-width: 100%;
  height: auto;
}

.thumbnail {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.search-box {
  margin-left: 1em;
}

.badge {
  text-align: center;
}

.tooteidkokku {
  text-align: center;
}
.btn-sm.tootenupp {
  background-color: #add8e6;
  color: #666666;
  text-shadow: 0.5px 0.5px #ebf6f9;
}

.btn-sm.tootenupp:hover {
  background-color: #add8e6;
  color: white;
}
