.thumbnail p,
.thumbnail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  width: 25em;
  height: 25em;
}

.col {
  max-width: 100%;
  height: auto;
}

.thumbnail {
  height: 100%;
  flex-wrap: wrap;
}

.search-box {
  margin: auto;
}
.tooteidkokku {
  text-align: right;
}
