.languages {
  list-style-type: none;
}

.languages li {
  float: right;
  padding-right: 0.3em;
}

.lang-button__en {
  height: 1.5em;
  width: 2.5em;
  background-size: 100% 100%;
  background-image: url("../images/UK_flag.png");
}

.lang-button__de {
  height: 1.5em;
  width: 2.5em;
  background-size: 100% 100%;
  background-image: url("../images/German_flag.png");
}
