.spacer {
  display: flex;
}
.toolbar__toggle {
  height: 5rem;
  display: flex;
  align-items: center;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1.7em;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 1em;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 1.5em;
  height: 2px;
  background: gray;
}

.toolbar__dropdown__deactive {
  display: none;
}

.toolbar__navigation {
  background-color: #add8e6;
  display: flex;
  padding: 0 7rem;
  width: 100%;
  height: 100%;
  align-items: center;
  box-shadow: 0 2px #ebf6f9;
}

.toolbar-logo__toggle {
  margin-right: auto;
  margin-left: 1em;
}

.toolbar-logo a,
.toolbar-logo__toggle a {
  color: gray;
  text-decoration: none;
  font-size: 1.7rem;
}

.toolbar-logo a:hover,
.toolbar-logo__toggle a:hover {
  color: rgb(80, 77, 77);
}

.toolbar__navigation-items {
  white-space: nowrap;
  width: 50%;
  margin: 0 auto;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar__navigation-items li {
  padding: 1.7rem 1.5rem;
}

.toolbar__navigation-items a {
  color: #666666;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  text-shadow: 0.5px 0.5px #ebf6f9;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
  color: white;
}

.toolbar__dropdown-items {
  width: 100%;
  background-color: #add8e6;
}

.toolbar__dropdown-items ul {
  display: block;
  list-style: none;
}
.toolbar__dropdown-items li {
  padding: 1.7rem 1.5rem;
}

.toolbar__dropdown-items a {
  color: gray;
  text-decoration: none;
  font-family: "Abel", sans-serif;
}

.toolbar__dropdown-items a:hover,
.toolbar__dropdown-items a:active {
  color: white;
}
