/*.carousel-fade .carousel-item {
  display: block;
  position: relative;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel,
.carousel-item {
  width: 115rem;
  height: 100%;
  border-radius: 25px;
  opacity: 0.8;
  position: relative;
  margin: auto;
}
*/

.piltpäis-pilt {
  display: flex;
  object-fit: cover;
  flex-wrap: wrap;
  margin-top: 0rem;
  margin-bottom: 0rem;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
