.piltpäis-pilt {
  display: flex;
  display: block;
  object-fit: cover;
  flex-wrap: wrap;
  margin-top: 0rem;
  margin-bottom: 0rem;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.piltpäis {
  background-color: white;
  /*margin-left: auto;
  margin-right: auto;
  align-items: center;*/
}
