.product {
  background-color: #efefef;
  margin: 10;
  height: auto;
  min-height: 4em;
  line-height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  animation: imganim 1s;
  animation-fill-mode: forwards;
  border-radius: 0.4em;
}

.button {
  float: right;
  background: transparent;
  color: black;
  border: 0;
}
