.searchbar {
  background: none !important;
  border: none !important;
  border-color: none !important;
  background-image: none !important;
  background-color: none !important;
  box-shadow: none !important;
  margin-bottom: 0em !important;
  margin-left: -5em !important;
}
.badge {
  background-color: #add8e6;
}
.form-control {
  width: 100%;
  margin-left: -3em;
}
