.mapContainer {
  margin: auto;
  width: 30em;
  height: 25em;
  box-shadow: 0 0.4em 0.2em 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#map {
  margin: auto;
  width: 30em;
  height: 25em;
  box-shadow: 0 0.4em 0.2em 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
